body
{
	background-color:#FFFFFF;
	height:2000px;
	
}

.container
{
	width:1170px;
	margin:auto;
}



.header .menu{
	width: 100%;
	background: #186f6b;
	overflow: auto;
	position:fixed;
}


.header .menu h2
{color: #fff; float:left;margin: 15x 10px 10px 0px; font-size:24px; margin-left:4px;} 
.header .menu span.sam{color: #ffca96}

.header .menu ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 60px;
	margin-top:3px;
	margin-left:3px;
}
.header  .menu  ul li
{
	float: left;
}
.header  .menu
ul li a{
	background: #186f6b;
	text-decoration: none;
	width: 130px;
	display: block;
	text-align: center;
	color: #f2f2f2;
	font-family: sans-serif;
	letter-spacing: 0.5px;	
}
.header .menu  li
{
	color: #fff;
}

.header    
.menu ul
li a:hover{
	color: #ff8c1a;
	/* background-color:#ffffff; */
	font-size: 20px;
}

/* .menu ul li.active a{color:#A52A2A;} */

.header .menu
ul.sign
{
	margin-top: 1px;
	float: right;
	margin-right: 100px;
}



ul.sign li button 
{
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	background:none;
	color:#FFFFFF;
	/* border:1px solid #FFFFFF; */
	border:none;
}
 

    

.header .slider
{
	/* background:#EEEEEE; */
}
.header .slider 
{
	
	height:500px;
	overflow:hidden;
	width:100%;
}

.header .slider  img
{
	width:100%;
	height:500px;
	border-radius:1px;
}

.main
{
	background-color:#BDC3C7;
	overflow:hidden;
	border:2px solid #CCC;
    border-radius:2%;
	
}

.main .image
{
	float:left;
	width:30%;
	padding:5px;
	margin-right:5px;
	
}

.main .image img
{
	width:100%;
	
}
.main .info
{
	padding:10px;
	float:left;
	width:55%;
	margin-right:94px;
    margin-top:10px;
   
	
}

.main .info p
{
	line-height:1.7;
	font-weight:bold;
	font-style:italic;
	font-size:19px;
	background-color:#BDC3C7;
	border:1px solid #CCC;
	border-radius:5%;
	padding:4px;
    
	
	
	
}

.features
{
	background:#ffffff;
	height:1000px;
	
}

.features h1
{
	text-align:center;
	color:#000;
	margin-top:49px;
	font-family:Arial sans-serif;
	font-style:italic;
}

.features .feat
{
	overflow:hidden;
}


.features .feat > div
{
	float :left;
	width:33.33333%;
	margin-bottom:10px;
}

.features .feat > div img
{
    margin-left: 161px;
	margin-top:39px
}

.features .feat > div h3
{
	margin-left:128px;
	
}



.features .feat > div h3.resp
{
	margin-left:152px;
}

.features .feat > div h3.tech
{
	margin-left:84px;
}

.features .feat > div h3.read
{
	margin-left:173px;
}


.features .feat > div h3.free
{
	margin-left:184px;
}


.rr{
    width:100%;
	height:2000px;
    background-color: #f00;
	font-weight:bold;
	text-align:center;
}


.footer
{
	background: #186f6b;
	color:#ffffff;
	padding:15px 0;
	text-align:center;
	overflow:hidden;
}

.footer span
{
	margin-top:10px;
}

/* .footer .list ul */
/* { */
	/* list-style:none; */
	/* padding-left:0; */
	/* margin:10px 0 0; */
	/* float:left; */
/* } */

.footer .list ul li
{
	list-style:none;
	display:inline-block;
	margin-left:10px;
	text-decoration:none;
	
	
}

.footer .list ul li a
{
	color:#ffca96;
	text-decoration:none;
}

.footer .font ul a
{
	color:#ffffff;
}
