@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body
{
	margin: 0;
	padding: 0;
	background-color:#FFFFFF;
	height:2800px;
	font-family: 'Roboto', sans-serif !important; 
}

.container
{
	width:1170px;
	margin:auto;
	
}

  .header
{
	height:1200px;
	width:100%;
	background-image:url('../images/background-1747782_1280.jpg');
	background-size: cover;
}
	
.header .slider 
{
	height:700px;
	overflow:hidden;
	width:60%;
	margin:auto;
	
	
}

.header .slider  img
{
	width:100%;
	height:700px;
	border-radius:1px;	
}


.header .slider .intro 
{
	margin-top:-652px;
	padding:50px;
	color:#ffffff;
	margin-left:40px;
	border-radius:50%;
	border:10px solid #ffffff;	
	height:700px;
	width:700px;
	font-family:sans-serif Arial ;
	
	
}
.header .slider .intro h1
{
	font-size:40px;
	
}

.header .slider .intro h2,.intro h3,.intro h4
{
	margin-left:20px;
	color:#2F4F4F;
	font-style:italic;
}



.header .main
{
	background-color:#f2f2f2;
	overflow:hidden;
    border-radius:2%;
	height:500px;	
}

.header .main .image
{
	float:left;
	width:50%;
	margin-right:5px;
}

.header .main .image img
{
	width:100%;
	height:500px;
	
}
.header .main .info
{
	padding:5px;
	float:right;
	width:37%;
	margin-right:100px;
    margin-top:20px;
   
	
}

.header .main .info p
{
	line-height:1.7;
	font-style:italic;
	font-family:sans-serif Arial;
	font-size:20px;
	padding:4px;
    color:#000000;
}

.features
{
	height:1030px;
	margin:auto;
	background:#e0b9b8;
	padding:10px;
	border:1px solid #ffffff;
	border-radius:2%;
	
}

/* .features h1 */
/* { */
	/* text-align:center; */
	/* color:#000; */
	/* margin-top:49px; */
	/* font-family:Arial sans-serif; */
	/* font-style:italic; */
/* } */

.features .feat
{
	margin-top:40px;
	overflow:hidden;
}


.features .feat > div
{
	float :left;
	width:30%;
	margin-bottom:10px;
}

.features .feat > div img
{
    margin-left: 161px;
	margin-top:39px
}

.features .feat > div h3
{
	margin-left:128px;
	
}

.features .feat > div p
{
	margin-left:90px;
	font-size:15px;
	
}

.features .feat > div h3.supp
{
	margin-left:130px;
	
}


.features .feat > div p.sup
{
	margin-left:80px;
	font-size:15px;
	
}
.features .feat > div img.image
{
    margin-left: 115px;
}


.features .feat > div h3.resp
{
	margin-left:165px;
}

.features .feat > div p.res
{
	margin-left:100px;
}


.features .feat > div svg

{
	margin-left:128px;
	margin-top:15px;
}

.features .feat > div h3.up
{
	margin-left:120px;
	margin-top:39px;
	
}

.features .feat > div h3.fr
{
	margin-top:25px;
}

.features .feat > div h3.free
{
	margin-left:184px;
}

.features .feat > div.support
{
	margin-right:550px;
	margin-top:25px;
}




.pro h2{
	text-align:center;
	color:#00CED1;
	font-size: 70px;
	font-family:Arial sans-serif;
	font-style:italic;
}
.container h2{
	text-align:center;
	color:#00CED1;
	font-size: 70px;
	font-family:Arial sans-serif;
	font-style:italic;
}
section{
	width: 100%;
	box-sizing: border-box;
	/* padding: 40px 0; */
	padding:10px 0 20px;
	background: #F0FFFF;	
	
}
.card{
	position: relative;
	max-width: 300px;
	height:auto;
	background: linear-gradient(-45deg, #fe0847, #feae3f);
	border-radius: 15px;
	margin: 0 auto;
	box-shadow: 0 10px 15px rgba(0,0,0,.0);
	transition: .5s;
	/* padding: 40px 20px; */
	padding-bottom:15px;
	overflow: hidden;
	margin-top:100px;
}
.card:hover{
	transform: scale(1.1)
}
.col-sm-4:nth-child(1) .card,
.col-sm-4:nth-child(1) .card .title .fa{
	background: linear-gradient(-45deg, #f403d1, #64b5f6);

}
.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fa{
	background: linear-gradient(-45deg, #ffec61, #f321d7);

}
.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title .fa{
	background: linear-gradient(-45deg, #24ff72, #9a4eff);

}
.card:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40%;
	background:rgba(255,255,255,.1);
	z-index: 1;
	transform: skewY(-5deg) ;
}

.title .fa{
	color: #fff;
	font-size: 60px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	line-height: 100px;
	box-shadow: 0 10px 10px rgba(0,0,0,.3)
}
.title h2{
	position: relative;
	margin: 20px 0 0;
	padding: 0;
	color: #fff;
	font-size: 30px;
	z-index: 2;
}
.price{
	position: relative;
	z-index: 2;
}
.price h4{
	margin: 0;
	padding: 20px 0;
	color: #fff;
	font-size: 60px;

}
.option{
	position: relative;
	z-index: 2;
}
.option ul{
	margin: 0;
	padding: 0;
}
.option ul li{
	margin: 0 0 10px;
	padding: 0;
	list-style: none;
	color: #fff;
	font-size: 16px;

}

.card a{
	position: relative;
	z-index: 2;
	background: #fff;
	color: #26202;
	width: 150px;
	height: 40px;
	display: block;
	text-align: center;
	margin: 20px auto 0;
	line-height: 40px;
	border-radius: 40px;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
}
.card a:hover{
	text-decoration: none;
}

.footer
{
	background: #DA70D6;
	color:#ffffff;
	padding:15px 0;
	text-align:center;
	overflow:hidden;
	height:65px;
}

.footer  span
{
	margin-top:10px;
}


.footer .list ul li
{
	list-style:none;
	display:inline-block;
	margin-left:10px;
	text-decoration:none;
	
	
}

.footer .list ul li a
{
	color:#800080;
	text-decoration:none;
}


.footer .font ul a
{
	color:#ffffff;
}
.footer .list
{
	margin-left:30px;
}
.footer .list ,.footer .font 
{
	display:inline-block;
	margin-top:5px;
}



.footer .font  ul a i:hover 
{
	color:#000;
}

	